*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
}
/* 
#parent{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

#gol{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50%;
    border:2px solid rgb(0, 37, 81);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

#b1{
    height: 20px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
} */


#parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

